@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	background: #000;
	color: #fff;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

$lightpico: #ca6702;

h1 {
	font-size: 2.5rem;
	color: $lightpico;
	background: none;
}

h2,
h3,
p {
	background: none;
}

body {
	line-height: 1.4;
}

button {
	background: none;
	cursor: pointer;
	border: none;
}

#root {
	position: relative;
}

.container {
	max-width: 1000px;
	margin: 50px auto;
}

header {
	display: flex;
	justify-content: space-between;

	h1 {
		text-transform: uppercase;
		font-family: "Finger Paint", cursive;
	}

	ul {
		width: 500px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		a {
			padding: 10px 20px;
			text-transform: uppercase;
		}
		a:hover {
			color: $lightpico;
			transition: 0.5s;
		}
	}
}

// scroll to top arrow
.arrow {
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 40px;
	opacity: 0;
	transition: 0.6s;
	cursor: pointer;
	background: none;
}
.arrow:hover {
	transform: rotate(180deg);
}

.slider {
	margin: 0 auto;
	padding: 50px 20px;

	.slide {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 100px;

		span {
			opacity: 0;
			transition: 1s;
			padding: 0 30px;
		}

		img {
			width: 300px;
			height: 250px;
		}
	}

	.leftBtn {
		cursor: pointer;
		position: absolute;
		top: 260px;
		left: 200px;

		&:hover {
			transform: scale(1, 1.5);
			transition: 0.7s;
		}
	}
	.rightBtn {
		cursor: pointer;
		position: absolute;
		top: 260px;
		right: 200px;

		&:hover {
			transform: scale(1, 1.5);
			transition: 0.7s;
		}
	}
}

.menu {
	padding: 50px 0;
	text-align: center;
	background: $lightpico;

	h2 {
		font-size: 35px;
		font-weight: bold;
		margin-bottom: 30px;
		text-transform: uppercase;
		opacity: 0;
		padding-top: 30px;
		transition: 1s;
		color: #000;
	}
	.menu_cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		color: #000;
		background: $lightpico;

		.card {
			align-items: center;
			background: $lightpico;

			img {
				border: 2px solid #000;
				margin-bottom: 8px;
			}
			p {
				text-transform: uppercase;
				color: #000;
			}
		}
	}

	li {
		opacity: 0;
		transition: 1s;
	}
}

.form {
	padding: 50px 0;
	text-align: center;

	h2 {
		font-size: 35px;
		font-weight: bold;
		margin-bottom: 30px;
		text-transform: uppercase;
		opacity: 0;
		padding-top: 30px;
		transition: 1s;
	}

	form {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(3, 60px);
		grid-gap: 1rem;
		justify-content: stretch;

		.input_box:nth-child(-n + 3) {
			grid-column: span 2;
		}
		// calendar
		.input_box:nth-child(4) {
			grid-column: span 3;
		}
		input[type="date"]::-webkit-calendar-picker-indicator {
			filter: invert(100%);
			width: 30px;
			height: 30px;
			position: absolute;
			left: 420px;
			cursor: pointer;
		}
		.input_box:nth-child(5) {
			grid-column: span 3;
		}
		button {
			grid-column: 3 / span 2;
			font-size: 20px;
			background: $lightpico;
			color: #fff;
			border-radius: 5px;
			margin: 5px 60px;
		}
		button:hover {
			background: #de7002;
		}

		.input_box {
			border: 2px solid #fff;
			color: #fff;
			padding: 10px;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			border-radius: 10px;

			input {
				width: 85%;
				font-size: 18px;
				background: #000;
				border: none;
				color: #fff;
				outline: none;
			}

			img {
				width: 30px;
				height: 25px;
			}
		}
	}
}

footer {
	padding: 50px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	margin-top: 50px;
	transition: 1s;

	h3 {
		font-size: 20px;
		margin-bottom: 20px;
	}
}

footer .review {
	.review_box {
		margin-bottom: 10px;

		p:nth-child(1) {
			padding: 10px;
		}
		p:nth-child(2) {
			color: $lightpico;
		}
	}
}

footer .social {
	.social_box {
		display: flex;
		flex-direction: column;
	}
	img {
		width: 60px;
		cursor: pointer;
	}
}

footer .feedback {
	form {
		.input_box {
			margin-bottom: 10px;

			label {
				font-size: 18px;
			}
			input {
				width: 100%;
				padding: 8px 10px;
				border: 1px solid #fff;
				border-radius: 10px;
			}
		}
		button {
			background: $lightpico;
			color: #fff;
			padding: 10px;
			border-radius: 5px;
		}
		button:hover {
			background: #de7002;
		}
	}
}

@media (max-width: 700px) {
	.menu {
		.menu_cards {
			grid-template-columns: 1fr;
			gap: 2rem;
		}
		li {
			opacity: 0;
		}
	}
}
